.cnt {
  padding-top: 10px;
}

.favTitle {
  color: bisque;
  margin-left: 100px;
  font-weight: 400;
}

.favContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 25px;
  justify-items: center;
  margin-top: 50px;
  width: 90%;
  align-items: center;
}
